<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
    <script type="text/javascript" src="javascripts/login.js"></script>
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/dialog.js"></script>
</head>

<body>
    <div class="main">
        <div class="sign-in">
            <div class="header"> Login</div>
            <form class="login">
                <input type="text" name="username" placeholder="用户ID：">
                <br><br>
                <input type="password" name="password" placeholder="密码："><br>
                <br>
                <button type="button" onclick="login()">登录</button>
                <button type="button" onclick="register()">忘记密码</button>
            </form>
        </div>

        <div class="about">
            <div class="header2"> 车辆管理系统</div>
            <p>
                此系统为车辆管理系统
            </p>
            <div class="header3"> 系统使用</div>
            <p>
                登录后请按照需求和界面提示进行操作
            </p>
            <div class="header3"> 系统维护</div>
            <p>
                请联系公司系统管理员
            </p>
           
        </div>
    </div>
</body>

</html>